.main{
    background-color: #414141;
}

.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
    color:#fff
}
.navbar{
    text-align: center;
    margin-top: 20px;
}
.homeLink{
    -webkit-text-fill-color: #fff;
}
.ProfileLink{
    -webkit-text-fill-color: #fff;
}
#results{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(24, 194, 232);
    font-weight: bolder;
    font-size: larger;
}